__pycache__/

datasets_classification/Multivariate_ts/*
datasets_classification/UEA_arff/*
datasets_classification/UEA_univariate/*

experiments/*
experiments_encoder/*

models/gpt2/*

output/*

encoders/saved_models/*